@import url("https://use.typekit.net/pgn8zcg.css");
@font-face {
  font-family: SweetSansProBold;
  src: url(../fonts/SweetSansProBold.woff); }
/* Colors: */
/* Font/text values */
/* Character Styles */
.unnamed-character-style-1 {
  font-family: "proxima-nova";
  font-style: Semibold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0px;
  color: #000000; }

body {
  font-family: "proxima-nova";
  font-weight: 400; }

.wrapper {
  width: 100%;
  max-width: 918px;
  margin: 0 auto; }

.line {
  border-bottom: 1px solid #D1D9E6; }

.button {
  background: #2D00FF 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 40px #2D00FF;
  background: #2D00FF 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 40px #2D00FF;
  border-radius: 29px;
  padding: 15px 45px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-family: SweetSansProBold;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-decoration: none; }
  .button:hover {
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.9; }

header {
  position: relative;
  background-color: #272727;
  background-image: url(../img/DF_TOP.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  padding-bottom: 160px; }
  @media (max-width: 575.98px) {
    header {
      padding-bottom: 0; } }
  header .top-bar {
    display: flex;
    justify-content: space-between;
    padding: 35px 40px; }
    header .top-bar .logo img {
      height: auto;
      width: 100%;
      max-width: 168px; }
    header .top-bar .menu {
      display: flex;
      list-style: none; }
      header .top-bar .menu li a {
        padding: 10px 19px;
        text-decoration: none;
        font-size: 16px;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1; }
  header .content {
    margin-top: 43px;
    background-image: url(../img/colorful.png);
    background-size: cover;
    background-clip: text;
    background-position: center left;
    -webkit-background-clip: text; }
    header .content h1 {
      font-size: 148px;
      line-height: 1.2;
      font-weight: 900;
      color: #FFFFFF;
      margin-bottom: 31px; }
      @media (max-width: 991.98px) {
        header .content h1 {
          font-size: 60px; } }
      @media (max-width: 575.98px) {
        header .content h1 {
          font-size: 46px; } }
    header .content .desc {
      font-size: 68px;
      line-height: 1.2;
      font-weight: 900;
      color: #FFFFFF;
      opacity: 1;
      margin-bottom: 60px; }
      header .content .desc span {
        color: transparent; }
      @media (max-width: 991.98px) {
        header .content .desc {
          font-size: 46px; } }
      @media (max-width: 575.98px) {
        header .content .desc {
          font-size: 32px; } }
  header .bottom-bar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 90%;
    max-width: 1520px;
    background-color: #2D00FF;
    padding: 66px 0; }
    @media (max-width: 1199.98px) {
      header .bottom-bar {
        padding: 33px 0; } }
    @media (max-width: 575.98px) {
      header .bottom-bar {
        position: relative; } }
    header .bottom-bar .item-wrapper {
      display: flex; }
      @media (max-width: 991.98px) {
        header .bottom-bar .item-wrapper {
          flex-wrap: wrap; } }
    header .bottom-bar .item {
      display: flex;
      align-items: flex-start;
      text-decoration: none; }
      @media (max-width: 991.98px) {
        header .bottom-bar .item {
          align-items: center;
          flex-basis: 50%;
          padding: 10px 0; } }
      header .bottom-bar .item .arrow {
        flex-shrink: 0;
        width: 49px;
        height: 49px;
        border-radius: 50%;
        background-color: #2D00FF;
        box-shadow: 8px 8px 15px #2400CC;
        background-image: url(../img/Strzalka.png);
        background-position: center center;
        background-repeat: no-repeat;
        margin-right: 20px; }
      header .bottom-bar .item .text {
        font-size: 36px;
        font-weight: 700;
        color: #FFFFFF;
        line-height: 1.1; }
        @media (max-width: 1199.98px) {
          header .bottom-bar .item .text {
            font-size: 24px; } }
        @media (max-width: 575.98px) {
          header .bottom-bar .item .text {
            font-size: 16px; } }

.section-title {
  color: #2D00FF;
  font-family: "termina";
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 77px; }
  .section-title span {
    color: #2D00FF;
    -webkit-text-fill-color: transparent;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2D00FF; }
  .section-title-white {
    color: #fff; }
    .section-title-white span {
      color: #fff;
      -webkit-text-fill-color: transparent;
      /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #fff; }

.reasons {
  padding-top: 200px;
  background-color: #EAEEF2; }
  .reasons .wrapper {
    width: 100%;
    max-width: 918px;
    margin: 0 auto; }
    .reasons .wrapper .wrapper-row {
      position: relative;
      display: flex;
      padding-bottom: 100px; }
      @media (max-width: 991.98px) {
        .reasons .wrapper .wrapper-row {
          flex-wrap: wrap; } }
      .reasons .wrapper .wrapper-row::before {
        content: '';
        position: absolute;
        left: 64px;
        top: 0;
        height: 100%;
        width: 3px;
        border-right: 3px dotted #C7D0DE;
        background-image: #EAEEF2;
        background-size: 3px 3px;
        background-repeat: repeat-y; }
        @media (max-width: 575.98px) {
          .reasons .wrapper .wrapper-row::before {
            left: 26px; } }
      .reasons .wrapper .wrapper-row:nth-of-type(3)::before {
        display: none; }
    .reasons .wrapper .left {
      display: flex;
      align-items: flex-start;
      width: 50%;
      padding-right: 15px; }
      @media (max-width: 991.98px) {
        .reasons .wrapper .left {
          width: 100%;
          align-items: center; } }
      .reasons .wrapper .left .icon {
        position: relative;
        flex-shrink: 0;
        background: #EAEEF2 0% 0% no-repeat padding-box;
        margin-right: 30px;
        padding-top: 23px;
        padding-bottom: 23px;
        z-index: 2; }
        .reasons .wrapper .left .icon .shape {
          height: 129px;
          width: 129px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 18px 18px 30px #D1D9E6; }
          @media (max-width: 575.98px) {
            .reasons .wrapper .left .icon .shape {
              height: 60px;
              width: 60px; } }
          .reasons .wrapper .left .icon .shape:hover {
            box-shadow: inset 18px 18px 30px #D1D9E6; }
            .reasons .wrapper .left .icon .shape:hover img {
              transform: scale(0.94); }
        .reasons .wrapper .left .icon img {
          width: 46px;
          height: auto; }
          @media (max-width: 575.98px) {
            .reasons .wrapper .left .icon img {
              width: 23px; } }
      .reasons .wrapper .left .title {
        font-weight: 600;
        font-size: 32px;
        line-height: 1.2; }
        @media (max-width: 575.98px) {
          .reasons .wrapper .left .title {
            left: 23px;
            font-size: 21px; } }
    .reasons .wrapper .right {
      width: 50%;
      padding-left: 15px; }
      @media (max-width: 991.98px) {
        .reasons .wrapper .right {
          width: 100%;
          padding-left: 160px; } }
      @media (max-width: 575.98px) {
        .reasons .wrapper .right {
          padding-left: 91px;
          margin-top: 10px; } }
  .reasons .big {
    font-weight: 800;
    font-size: 58px;
    line-height: 1.2;
    color: #292929;
    padding-bottom: 6px; }
    @media (max-width: 991.98px) {
      .reasons .big {
        font-size: 46px; } }
    @media (max-width: 575.98px) {
      .reasons .big {
        font-size: 32px; } }

.goals {
  background: #292929;
  min-height: 300px;
  padding-bottom: 80px; }
  .goals .wrapper {
    max-width: 912px;
    margin: 0 auto;
    padding-top: 2%; }
  .goals .big {
    font-weight: 800;
    font-size: 58px;
    line-height: 1.2;
    color: transparent;
    max-width: 804px;
    background-image: url(../img/colorful.png);
    background-size: cover;
    background-clip: text;
    background-position: center left;
    -webkit-background-clip: text;
    margin-bottom: 13%; }
    @media (max-width: 991.98px) {
      .goals .big {
        font-size: 46px; } }
    @media (max-width: 575.98px) {
      .goals .big {
        font-size: 32px; } }
  .goals .section-title {
    margin-bottom: 37px; }

.accordion {
  padding: 0; }
  .accordion .accordion-element {
    position: relative;
    display: block;
    background: linear-gradient(135deg, #FEED07 0%, #FE6A50 5%, #ED00AA 15%, #2FE3FE 50%, #8900FF 100%);
    padding: 1px;
    border-radius: 38px;
    color: #fff;
    margin-bottom: 32px; }
    .accordion .accordion-element:first-of-type .content {
      display: block; }
    .accordion .accordion-element .inner {
      display: block;
      background: #292929;
      padding: 26px 40px;
      border-radius: 38px; }
      .accordion .accordion-element .inner.active .title {
        color: #00DEFF; }
      .accordion .accordion-element .inner.active .arrow-button {
        transform: rotate(180deg);
        align-items: flex-start;
        padding-top: 30px; }
    .accordion .accordion-element .title {
      font-weight: 300;
      font-size: 20px;
      line-height: 1.2;
      cursor: pointer; }
    .accordion .accordion-element .content {
      display: none;
      margin-top: 19px;
      font-weight: 300;
      font-size: 16px;
      line-height: 1.5; }
    .accordion .accordion-element .arrow-button {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: -1px;
      height: 100%;
      width: 75px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background: #292929 0% 0% no-repeat padding-box;
      box-shadow: -15px -15px 30px #333333;
      border-radius: 200px;
      padding-bottom: 30px; }

.full-slider {
  overflow: hidden; }
  .full-slider .slide {
    background-size: cover;
    background-position: center center; }
  .full-slider .content {
    min-height: 779px;
    width: 100%;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 12%; }
    @media (max-width: 991.98px) {
      .full-slider .content {
        min-height: 500px; } }
    .full-slider .content .section-title {
      margin-bottom: 15px; }
    .full-slider .content .title {
      font-weight: 300;
      font-size: 74px;
      line-height: 1.2;
      text-align: center;
      color: #fff; }
      @media (max-width: 991.98px) {
        .full-slider .content .title {
          font-size: 46px; } }
      @media (max-width: 767.98px) {
        .full-slider .content .title {
          font-size: 32px; } }
      .full-slider .content .title span {
        font-weight: 700; }
    .full-slider .content .arrows {
      display: flex;
      justify-content: center; }
      .full-slider .content .arrows .arrow {
        padding: 10px; }
        .full-slider .content .arrows .arrow img {
          max-width: 50px;
          height: auto; }
  .full-slider .slick-prev, .full-slider .slick-next {
    top: 84%;
    z-index: 10;
    width: 40px;
    height: 40px; }
  .full-slider .slick-next {
    right: 47%; }
    @media (max-width: 991.98px) {
      .full-slider .slick-next {
        right: 40%; } }
  .full-slider .slick-prev {
    left: 47%; }
    @media (max-width: 991.98px) {
      .full-slider .slick-prev {
        left: 40%; } }
  .full-slider .slick-prev:before, .full-slider .slick-next:before {
    font-size: 34px; }

.reasons-2 {
  padding-top: 130px;
  padding-bottom: 20px;
  background-color: #fff; }
  .reasons-2 .wrapper .wrapper-row {
    padding-bottom: 60px; }
    .reasons-2 .wrapper .wrapper-row::before {
      display: none; }
    @media (max-width: 991.98px) {
      .reasons-2 .wrapper .wrapper-row .right {
        padding-left: 0;
        margin-top: 30px; } }
    .reasons-2 .wrapper .wrapper-row:nth-last-of-type(even) .left {
      order: 2;
      margin-left: 15px;
      margin-right: 0; }
      @media (max-width: 991.98px) {
        .reasons-2 .wrapper .wrapper-row:nth-last-of-type(even) .left {
          order: initial; } }
    .reasons-2 .wrapper .wrapper-row:nth-last-of-type(even) .right {
      order: 1;
      text-align: right;
      padding-left: 0;
      padding-right: 15px; }
      @media (max-width: 991.98px) {
        .reasons-2 .wrapper .wrapper-row:nth-last-of-type(even) .right {
          text-align: left; } }
      .reasons-2 .wrapper .wrapper-row:nth-last-of-type(even) .right ul li {
        padding-right: 20px;
        padding-left: 0; }
        @media (max-width: 991.98px) {
          .reasons-2 .wrapper .wrapper-row:nth-last-of-type(even) .right ul li {
            padding-left: 20px;
            padding-right: 0; } }
        .reasons-2 .wrapper .wrapper-row:nth-last-of-type(even) .right ul li::before {
          content: "";
          border-radius: 50%;
          background-color: #2D00FF;
          height: 7px;
          width: 7px;
          position: absolute;
          left: initial;
          right: 0;
          top: 8px; }
          @media (max-width: 991.98px) {
            .reasons-2 .wrapper .wrapper-row:nth-last-of-type(even) .right ul li::before {
              right: initial;
              left: 0; } }
    .reasons-2 .wrapper .wrapper-row .left {
      background: #EAEEF2 0% 0% no-repeat padding-box;
      border-radius: 20px;
      padding: 50px;
      margin-right: 15px;
      justify-content: space-between;
      align-items: center; }
      @media (max-width: 575.98px) {
        .reasons-2 .wrapper .wrapper-row .left {
          padding: 10%; } }
      .reasons-2 .wrapper .wrapper-row .left .title {
        padding: 0;
        flex-basis: 50%;
        font-size: 24px;
        font-weight: 300;
        line-height: 1.2;
        padding-right: 20px; }
        .reasons-2 .wrapper .wrapper-row .left .title span {
          font-weight: 700; }
      .reasons-2 .wrapper .wrapper-row .left .ilustration {
        width: 135px;
        flex-basis: 50%; }
        .reasons-2 .wrapper .wrapper-row .left .ilustration img {
          display: block;
          width: 100%;
          max-width: 135px;
          margin-left: auto; }
    .reasons-2 .wrapper .wrapper-row .right .number {
      font-size: 50px;
      font-family: "Termina";
      font-weight: 900;
      color: #292929; }
    .reasons-2 .wrapper .wrapper-row .right ul {
      padding-left: 0;
      list-style: none; }
      .reasons-2 .wrapper .wrapper-row .right ul li {
        font-size: 16px;
        line-height: 1.5;
        padding-left: 20px;
        position: relative; }
        .reasons-2 .wrapper .wrapper-row .right ul li::before {
          content: "";
          border-radius: 50%;
          background-color: #2D00FF;
          height: 7px;
          width: 7px;
          position: absolute;
          left: 0;
          top: 8px; }

.infinite {
  overflow: hidden;
  padding-top: 110px;
  background-color: #EAEEF2; }
  .infinite .big-title {
    text-align: center;
    font-size: 62px;
    font-family: "Termina";
    font-weight: 900;
    line-height: 1.2;
    color: #2D00FF;
    margin-bottom: 63px; }
    @media (max-width: 767.98px) {
      .infinite .big-title {
        font-size: 40px; } }
  .infinite .diagram {
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    background-image: url(../img/INFINITELOOP.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; }
    .infinite .diagram .wrapper {
      width: 100%;
      max-width: 918px;
      margin: 0 auto; }
      .infinite .diagram .wrapper .wrapper-row {
        display: flex;
        justify-content: space-between;
        margin: 0 -10px; }
        @media (max-width: 575.98px) {
          .infinite .diagram .wrapper .wrapper-row {
            flex-wrap: wrap;
            margin: 0 -5px; } }
        .infinite .diagram .wrapper .wrapper-row.top .box::before {
          content: '';
          position: absolute;
          height: 13px;
          width: 13px;
          border-radius: 50%;
          background-color: #2D00FF;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 50%); }
          @media (max-width: 767.98px) {
            .infinite .diagram .wrapper .wrapper-row.top .box::before {
              display: none; } }
        .infinite .diagram .wrapper .wrapper-row.top .box::after {
          content: '';
          position: absolute;
          height: 270%;
          width: 0;
          border-right: 3px dotted #2D00FF;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 100%); }
          @media (max-width: 767.98px) {
            .infinite .diagram .wrapper .wrapper-row.top .box::after {
              display: none; } }
        .infinite .diagram .wrapper .wrapper-row.bottom .box::before {
          content: '';
          position: absolute;
          height: 14px;
          width: 14px;
          border-radius: 50%;
          background-color: #2D00FF;
          left: 50%;
          top: 0;
          transform: translate(-50%, -50%); }
          @media (max-width: 767.98px) {
            .infinite .diagram .wrapper .wrapper-row.bottom .box::before {
              display: none; } }
        .infinite .diagram .wrapper .wrapper-row .box {
          position: relative;
          width: 100%;
          max-width: 261px;
          background: #fff;
          border-radius: 10px;
          padding: 22px 16px;
          margin: 0 10px;
          min-height: 210px;
          transition: .2s ease-out; }
          .infinite .diagram .wrapper .wrapper-row .box:hover {
            transform: scale(1.1); }
          @media (max-width: 575.98px) {
            .infinite .diagram .wrapper .wrapper-row .box {
              min-height: initial;
              max-width: initial;
              width: 100%;
              margin: 0 -5px;
              margin-bottom: 10px; } }
          .infinite .diagram .wrapper .wrapper-row .box .question {
            font-size: 16px;
            font-weight: 700;
            line-height: 1.5;
            margin: 0;
            letter-spacing: -0.48px;
            color: #000000; }
          .infinite .diagram .wrapper .wrapper-row .box .hash-list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -4px;
            margin-top: 2px; }
            .infinite .diagram .wrapper .wrapper-row .box .hash-list .hash-element {
              margin: 4px;
              padding: 2px 6px;
              background: #EAEEF2;
              border-radius: 20px; }
      .infinite .diagram .wrapper .infinity-wrapper {
        position: relative;
        padding: 90px 0;
        margin: 0px -30px; }
        @media (max-width: 767.98px) {
          .infinite .diagram .wrapper .infinity-wrapper {
            margin: 0; } }
        .infinite .diagram .wrapper .infinity-wrapper .sectors {
          position: absolute;
          display: flex;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%; }
          .infinite .diagram .wrapper .infinity-wrapper .sectors .sector {
            position: relative;
            flex-basis: 33.33%;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            line-height: 1.2;
            font-weight: 600; }
            @media (max-width: 767.98px) {
              .infinite .diagram .wrapper .infinity-wrapper .sectors .sector {
                font-size: 16px; } }
            .infinite .diagram .wrapper .infinity-wrapper .sectors .sector .get-know {
              position: absolute;
              top: 75%;
              background: #00DEFF 0% 0% no-repeat padding-box;
              padding: 16px 18px;
              color: #fff;
              text-align: center;
              border-radius: 20px; }
            .infinite .diagram .wrapper .infinity-wrapper .sectors .sector .circle {
              height: 129px;
              width: 129px;
              background-color: #EAEEF2;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              box-shadow: 18px 18px 30px #D1D9E6; }
              @media (max-width: 767.98px) {
                .infinite .diagram .wrapper .infinity-wrapper .sectors .sector .circle {
                  height: 80px;
                  width: 80px; } }
              .infinite .diagram .wrapper .infinity-wrapper .sectors .sector .circle:hover {
                box-shadow: inset 18px 18px 30px #D1D9E6; }
                .infinite .diagram .wrapper .infinity-wrapper .sectors .sector .circle:hover img {
                  transform: scale(0.94); }
  .infinite .wrapper {
    width: 100%;
    max-width: 918px;
    margin: 0 auto; }
    .infinite .wrapper .section-title {
      margin-bottom: 142px; }
    .infinite .wrapper .line {
      border-bottom: 1px solid #D1D9E6;
      margin-top: 100px;
      margin-bottom: 100px; }
      .infinite .wrapper .line.down {
        margin-bottom: 120px; }
    .infinite .wrapper .slider-infinity {
      display: flex;
      flex-wrap: nowrap;
      position: relative; }
      .infinite .wrapper .slider-infinity::after {
        content: '';
        position: absolute;
        left: 0;
        top: 176px;
        border-top: 3px dashed #D1D9E6;
        width: 5000px;
        transform: translateY(-50%);
        z-index: 1; }
      .infinite .wrapper .slider-infinity .slide {
        flex-shrink: 0;
        position: relative;
        width: 100%;
        max-width: 759px;
        border-radius: 20px;
        background-color: #fff;
        padding: 10% 8% 6%;
        margin-right: 248px;
        z-index: 3; }
        .infinite .wrapper .slider-infinity .slide:not(.swiper-slide-active) {
          background-color: #F5F7F9; }
          .infinite .wrapper .slider-infinity .slide:not(.swiper-slide-active) .title, .infinite .wrapper .slider-infinity .slide:not(.swiper-slide-active) .sub-title, .infinite .wrapper .slider-infinity .slide:not(.swiper-slide-active) .text {
            opacity: .4; }
        .infinite .wrapper .slider-infinity .slide:not(:first-of-type)::after {
          content: '';
          z-index: 2;
          position: absolute;
          left: 0;
          top: 176px;
          width: 29px;
          height: 29px;
          border-radius: 50%;
          background-color: #2D00FF;
          transform: translate(-50%, -50%); }
        .infinite .wrapper .slider-infinity .slide:not(:last-of-type)::before {
          content: '';
          z-index: 2;
          position: absolute;
          right: 0;
          top: 176px;
          width: 29px;
          height: 29px;
          border-radius: 50%;
          background-color: #2D00FF;
          transform: translate(50%, -50%); }
        .infinite .wrapper .slider-infinity .slide:last-of-type::before {
          content: '';
          position: absolute;
          left: 100%;
          top: 176px;
          border-top: 5px solid #EAEEF2;
          width: 5000px;
          transform: translateY(-50%);
          z-index: 2; }
        .infinite .wrapper .slider-infinity .slide .title {
          font-size: 108px;
          font-weight: 900;
          color: #292929;
          position: absolute;
          top: 0;
          transform: translateY(-50%);
          width: 100%; }
          @media (max-width: 767.98px) {
            .infinite .wrapper .slider-infinity .slide .title {
              font-size: 56px; } }
          .infinite .wrapper .slider-infinity .slide .title:not(:last-of-type)::before {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            border-radius: 50%;
            background-color: #2D00FF;
            transform: translate(50%, -50%); }
        .infinite .wrapper .slider-infinity .slide .sub-title {
          font-size: 20px;
          font-weight: 500;
          color: #2D00FF;
          margin-bottom: 25px; }
        .infinite .wrapper .slider-infinity .slide .text {
          color: #000;
          font-size: 16px;
          font-weight: 300;
          line-height: 1.5; }
    .infinite .wrapper .arrows {
      position: relative;
      background: #EAEEF2;
      box-shadow: -18px -18px 30px #FFFFFF;
      border-radius: 10px;
      height: 78px;
      width: 100%;
      max-width: 286px;
      margin: 76px auto 0;
      display: flex; }
      .infinite .wrapper .arrows .arrow {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .infinite .wrapper .arrows .arrow.prev {
          transform: rotate(180deg); }
      .infinite .wrapper .arrows::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        height: 60px;
        width: 1px;
        background-color: #fff;
        transform: translateY(-50%); }
      .infinite .wrapper .arrows .swiper-button-next:after, .infinite .wrapper .arrows .swiper-button-prev:after {
        font-size: 0; }

.digital-elements {
  background-color: #EAEEF2;
  padding-bottom: 120px; }
  .digital-elements .section-title {
    margin-bottom: 29px; }
  .digital-elements .des {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    text-align: center;
    max-width: 602px;
    margin: 0 auto;
    margin-bottom: 60px; }
  @media (max-width: 575.98px) {
    .digital-elements .col:nth-of-type(1) {
      order: 1; }
    .digital-elements .col:nth-of-type(2) {
      order: 2; }
    .digital-elements .col:nth-of-type(3) {
      order: 3; }
    .digital-elements .col:nth-of-type(4) {
      order: 5; }
    .digital-elements .col:nth-of-type(5) {
      order: 4; } }
  .digital-elements .column {
    border: 2px dashed #D1D9E6;
    border-radius: 20px;
    padding: 23px 17px 0;
    margin-bottom: 30px; }
    .digital-elements .column-horizontal {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 -15px; }
      .digital-elements .column-horizontal .service {
        max-width: 169px;
        margin: 0 15px; }
        @media (max-width: 575.98px) {
          .digital-elements .column-horizontal .service {
            max-width: 100%;
            width: 100%; } }
    .digital-elements .column .title {
      position: absolute;
      top: 0;
      left: 50%;
      padding: 10px;
      transform: translate(-50%, -50%);
      background-color: #eaeef2;
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.5;
      font-family: "Termina";
      color: #BEC4CF;
      margin: 0 auto; }
    .digital-elements .column .service {
      position: relative;
      background: #FFFFFF;
      border-radius: 15px;
      padding: 22px 10px 25px;
      margin-bottom: 32px;
      min-height: 165px; }
      @media (max-width: 575.98px) {
        .digital-elements .column .service {
          min-height: 125px; } }
      .digital-elements .column .service .name, .digital-elements .column .service .description {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5;
        text-align: center; }
      .digital-elements .column .service .name {
        margin-bottom: 7px;
        font-weight: 700; }
      .digital-elements .column .service .add {
        position: absolute;
        left: 50%;
        bottom: 0;
        border: 0;
        transform: translate(-50%, 50%);
        border-radius: 50%;
        height: 35px;
        width: 35px;
        background-color: #2D00FF;
        background-image: url(../img/add.png);
        background-size: 12px;
        background-position: center;
        background-repeat: no-repeat; }
        .digital-elements .column .service .add:hover {
          opacity: .8; }
  .digital-elements .column-form {
    border-radius: 20px;
    position: relative;
    margin-bottom: 60px;
    background: #EAEEF2;
    box-shadow: -18px -18px 30px #FFFFFFB3;
    border-radius: 15px; }
    .digital-elements .column-form .title {
      padding: 27px 15px 19px;
      border-radius: 15px 15px 0px 0px;
      font-size: 16px;
      line-height: 1.5;
      font-family: "Termina";
      color: #fff;
      font-weight: 700;
      text-align: center;
      background-color: #2D00FF; }
    .digital-elements .column-form .choices-form {
      padding: 20px; }
      .digital-elements .column-form .choices-form .choice {
        position: relative;
        background: #FFFFFF;
        border-radius: 15px;
        margin-bottom: 9px; }
        .digital-elements .column-form .choices-form .choice .name {
          max-width: 80%;
          padding: 10px 15px;
          font-weight: 600;
          font-size: 14px;
          line-height: 1.25; }
        .digital-elements .column-form .choices-form .choice .remove {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(50%, -50%);
          border-radius: 50%;
          height: 23px;
          width: 23px;
          background: #FFFFFF;
          border: 1px solid #D1D9E6;
          background-image: url(../img/minus.png);
          background-size: 12px;
          background-position: center;
          background-repeat: no-repeat; }
      .digital-elements .column-form .choices-form .line {
        margin-top: 20px;
        margin-bottom: 16px; }
      .digital-elements .column-form .choices-form .subtitle {
        color: #2D00FF;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.3;
        margin-bottom: 17px; }
      .digital-elements .column-form .choices-form input {
        height: 44px;
        background-color: #FFFFFF;
        border-radius: 15px;
        border: 0;
        margin-bottom: 10px;
        padding: 15px 18px 13px;
        width: 100%; }
        .digital-elements .column-form .choices-form input[type="submit"] {
          padding: 8px 5px;
          text-align: center;
          background-color: #2D00FF;
          color: #fff;
          padding: 8px 5px;
          position: absolute;
          bottom: -33px;
          left: 15px;
          width: calc(100% - 30px); }
          .digital-elements .column-form .choices-form input[type="submit"]:hover {
            opacity: .8; }

.delivery {
  background: #292929;
  padding: 120px 0;
  overflow: hidden; }
  .delivery .section-title {
    margin-bottom: 87px; }
  .delivery .delivery-wrapper {
    position: relative;
    max-width: 1258px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 991.98px) {
      .delivery .delivery-wrapper {
        flex-wrap: wrap; } }
    .delivery .delivery-wrapper .delivery-step {
      width: 128px;
      text-align: center; }
      @media (max-width: 991.98px) {
        .delivery .delivery-wrapper .delivery-step {
          flex-basis: 33.33%;
          margin-bottom: 30px; }
          .delivery .delivery-wrapper .delivery-step:nth-of-type(3) .circle::before {
            background-color: #292929; } }
      @media (max-width: 767.98px) {
        .delivery .delivery-wrapper .delivery-step {
          flex-basis: 50%; }
          .delivery .delivery-wrapper .delivery-step:nth-of-type(3) .circle::before {
            display: block;
            background-color: #323334; }
          .delivery .delivery-wrapper .delivery-step:nth-of-type(2) .circle::before, .delivery .delivery-wrapper .delivery-step:nth-of-type(4) .circle::before, .delivery .delivery-wrapper .delivery-step:nth-of-type(6) .circle::before {
            display: block;
            background-color: #292929; } }
      .delivery .delivery-wrapper .delivery-step .circle {
        position: relative;
        height: 128px;
        width: 128px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        background: #292929 0% 0% no-repeat padding-box;
        box-shadow: -15px -15px 30px #333333;
        border-radius: 100px; }
        @media (max-width: 767.98px) {
          .delivery .delivery-wrapper .delivery-step .circle {
            height: 80px;
            width: 80px; } }
        .delivery .delivery-wrapper .delivery-step .circle::before {
          content: '';
          width: 99px;
          height: 2px;
          position: absolute;
          background-color: #323334;
          border-radius: 2px;
          top: 50%;
          left: 100%; }
          @media (max-width: 991.98px) {
            .delivery .delivery-wrapper .delivery-step .circle::before {
              width: 230px; } }
          @media (max-width: 767.98px) {
            .delivery .delivery-wrapper .delivery-step .circle::before {
              width: 250px; } }
        .delivery .delivery-wrapper .delivery-step .circle img {
          max-height: 60px; }
          @media (max-width: 767.98px) {
            .delivery .delivery-wrapper .delivery-step .circle img {
              max-height: 36px; } }
        .delivery .delivery-wrapper .delivery-step .circle:hover {
          box-shadow: inset -15px -15px 30px #333333; }
          .delivery .delivery-wrapper .delivery-step .circle:hover img {
            transform: scale(0.94); }
      .delivery .delivery-wrapper .delivery-step .caption {
        color: #fff;
        text-align: center;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.2; }
        @media (max-width: 991.98px) {
          .delivery .delivery-wrapper .delivery-step .caption {
            max-width: 250px;
            margin: 0 auto; } }
      .delivery .delivery-wrapper .delivery-step:nth-of-type(1) .circle::after, .delivery .delivery-wrapper .delivery-step:nth-of-type(2) .circle::after {
        /*                 content: '';
                        width: 74px;
                        position: absolute;
                        top: 61px;
                        left: calc(136px + 34px);
                        border-radius: 50%;
                        width: 7px;
                        height: 7px;
                        background: #00DEFF 0% 0% no-repeat padding-box; */ }
      .delivery .delivery-wrapper .delivery-step:nth-of-type(6) .circle::before {
        background-color: #292929; }
    .delivery .delivery-wrapper .delivery-clouds {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }
      .delivery .delivery-wrapper .delivery-clouds .cloud {
        position: absolute;
        top: -26px;
        left: 12%;
        height: 71px;
        width: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/dumek.svg);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        font-weight: 300;
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        color: #fff; }
        .delivery .delivery-wrapper .delivery-clouds .cloud::after {
          content: '';
          position: absolute;
          bottom: -23px;
          border-radius: 50%;
          width: 7px;
          height: 7px;
          background: #00DEFF 0% 0% no-repeat padding-box; }
        .delivery .delivery-wrapper .delivery-clouds .cloud::before {
          /*  content: '';
           position: absolute;
           bottom: -21px;
           height: 2px;
           width: 80%;
           left: 50%;
           transform: translateX(-50%);
           background: transparent linear-gradient(270deg, #292929 0%, #4C4F53 9%, #4C4F53 37%, #00DEFF 47%, #00DEFF 49%, #00DEFF 52%, #4C4F53 62%, #4C4F53 88%, #292929 100%) 0% 0% no-repeat padding-box;
           border-radius: 2px; */ }
        @media (max-width: 991.98px) {
          .delivery .delivery-wrapper .delivery-clouds .cloud {
            left: 30%; } }
        @media (max-width: 767.98px) {
          .delivery .delivery-wrapper .delivery-clouds .cloud {
            left: 45%;
            display: none; } }
        .delivery .delivery-wrapper .delivery-clouds .cloud.cloud2 {
          left: 30%; }
          @media (max-width: 991.98px) {
            .delivery .delivery-wrapper .delivery-clouds .cloud.cloud2 {
              left: 64%; } }
          @media (max-width: 767.98px) {
            .delivery .delivery-wrapper .delivery-clouds .cloud.cloud2 {
              left: 45%;
              top: 100px;
              display: none; } }

.about-us {
  padding-top: 120px;
  padding-bottom: 170px;
  background: #EAEEF2; }
  .about-us .wrapper {
    position: relative; }
  .about-us .section-title.section-title-huge {
    font-size: 100px;
    margin-bottom: 74px; }
    @media (max-width: 991.98px) {
      .about-us .section-title.section-title-huge {
        font-size: 46px; } }
    @media (max-width: 767.98px) {
      .about-us .section-title.section-title-huge {
        font-size: 36px; } }
    .about-us .section-title.section-title-huge .text-image {
      color: transparent;
      color: #2D00FF;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 0px;
      -webkit-text-stroke-color: transparent;
      background-image: url(../img/colorful.png);
      background-size: contain;
      background-clip: text;
      background-position: center left;
      -webkit-background-clip: text;
      padding: 0 10px; }
  .about-us .inner {
    padding-top: 65px;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.2; }
  .about-us .circle {
    position: relative;
    height: 107px;
    width: 107px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EAEEF2 0% 0% no-repeat padding-box;
    box-shadow: 18px 18px 30px #D1D9E6;
    margin: 0 auto;
    margin-bottom: 96px;
    z-index: 2; }
    .about-us .circle img {
      max-height: 63px; }
    .about-us .circle:hover {
      box-shadow: inset 18px 18px 30px #D1D9E6; }
      .about-us .circle:hover img {
        transform: scale(0.94); }
  .about-us .box {
    position: relative;
    background: #FFFFFF;
    padding: 39px 23px;
    padding-bottom: 100px;
    min-height: 254px;
    border-radius: 15px;
    transition: .2s ease-out; }
    .about-us .box:hover {
      transform: scale(1.1); }
    @media (max-width: 991.98px) {
      .about-us .box {
        padding-bottom: 158px;
        min-height: 360px; } }
    @media (max-width: 767.98px) {
      .about-us .box {
        padding-bottom: 119px;
        min-height: 256px; } }
    .about-us .box::before {
      content: '';
      top: 0;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 13px;
      width: 13px;
      border-radius: 50%;
      background: #2D00FF; }
    .about-us .box::after {
      content: '';
      bottom: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 96px;
      border-right: 3px dotted #2D00FF; }
    .about-us .box .text-one {
      font-weight: 600;
      margin-bottom: 31px; }
    .about-us .box .text-two {
      position: absolute;
      width: calc(100% - 46px);
      bottom: 67px;
      left: 50%;
      transform: translateX(-50%); }
    .about-us .box .text-three {
      font-weight: 700;
      font-size: 18px;
      line-height: 1.5;
      font-family: "Termina";
      color: #2D00FF;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%); }
  .about-us .background-image {
    position: absolute;
    width: 78%;
    left: -2%;
    top: 3px; }
    @media (max-width: 991.98px) {
      .about-us .background-image {
        top: 27px; } }
    @media (max-width: 767.98px) {
      .about-us .background-image {
        display: none; } }

.testimonials {
  padding: 120px 0;
  overflow: hidden;
  position: relative; }
  .testimonials .background-holder {
    position: relative; }
  .testimonials .background1 {
    position: absolute;
    top: 61px;
    left: -356px;
    background-image: url(../img/cytat.png);
    height: 295px;
    width: 342px;
    background-repeat: no-repeat; }
  .testimonials .background2 {
    right: -356px;
    position: absolute;
    bottom: 0;
    background-image: url(../img/cytat.png);
    height: 295px;
    width: 342px;
    transform: rotate(180deg);
    background-repeat: no-repeat; }
  .testimonials .section-title {
    text-align: left;
    margin-bottom: 15px; }
  .testimonials .intro {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    width: 50%; }
  .testimonials .arrows {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-end; }
    .testimonials .arrows .arrow {
      position: relative;
      padding: 10px; }
      .testimonials .arrows .arrow.prev {
        transform: rotate(180deg);
        top: 2px; }
  .testimonials .testimonial-slider {
    position: relative;
    margin-top: 60px;
    display: flex;
    align-items: stretch;
    margin-left: -15px;
    margin-right: -15px; }
    .testimonials .testimonial-slider .testimonial-slide {
      padding: 0 15px;
      width: 33.33%;
      flex-shrink: 0;
      height: auto; }
    .testimonials .testimonial-slider .inner {
      position: relative;
      border: 1px solid #D1D9E6;
      border-radius: 20px;
      padding: 0 23px;
      padding-bottom: 120px;
      height: 100%; }
      .testimonials .testimonial-slider .inner .logo-holder {
        height: 150px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .testimonials .testimonial-slider .inner .logo-holder img {
          display: block;
          max-height: 85px; }
      .testimonials .testimonial-slider .inner .text {
        font-weight: 300;
        font-size: 14px;
        line-height: 1.5; }
      .testimonials .testimonial-slider .inner .author {
        position: absolute;
        bottom: 30px;
        left: 23px;
        right: 23px; }
        .testimonials .testimonial-slider .inner .author .name {
          font-weight: 700;
          font-size: 16px;
          line-height: 1.4;
          color: #2D00FF;
          margin-bottom: 2px; }
        .testimonials .testimonial-slider .inner .author .occupation {
          font-weight: 400;
          font-size: 14px;
          line-height: 1.5; }

.contact {
  padding-top: 120px;
  padding-bottom: 136px;
  background: #EAEEF2; }
  .contact .section-title {
    line-height: 1.6;
    margin-bottom: 60px; }
  .contact .contact-form .input-row {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 575.98px) {
      .contact .contact-form .input-row {
        flex-wrap: wrap; } }
    .contact .contact-form .input-row input {
      width: 49%;
      height: 96px;
      background: #FFFFFF;
      box-shadow: 0px 10px 20px #0000001A;
      border-radius: 30px;
      border: 0;
      margin-bottom: 30px;
      padding: 39px 49px; }
      @media (max-width: 575.98px) {
        .contact .contact-form .input-row input {
          width: 100%; } }
      .contact .contact-form .input-row input::placeholder {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 300; }
  .contact .contact-form .agreements {
    margin-top: 20px;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px; }
  .contact .contact-form label {
    margin: 18px 0; }
  .contact .contact-form input[type="submit"] {
    border: 0;
    display: block;
    margin: 0 auto;
    margin-top: 30px; }
  .contact .contact-form .styled-checkbox {
    position: absolute;
    opacity: 0; }
    .contact .contact-form .styled-checkbox + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      display: flex;
      align-items: center; }
    .contact .contact-form .styled-checkbox + label:before {
      content: '';
      flex-shrink: 0;
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 30px;
      height: 30px;
      border-radius: 10px;
      background: white; }
    .contact .contact-form .styled-checkbox:checked + label:before {
      background: #2D00FF; }
    .contact .contact-form .styled-checkbox:disabled + label {
      color: #b8b8b8;
      cursor: auto; }
    .contact .contact-form .styled-checkbox:disabled + label:before {
      box-shadow: none;
      background: #ddd; }
    .contact .contact-form .styled-checkbox:checked + label:after {
      content: '';
      position: absolute;
      left: 10px;
      top: 50%;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
      transform: rotate(45deg); }

footer {
  background-color: #000;
  color: #fff;
  position: relative;
  min-height: 104px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center; }
  footer .logo {
    position: absolute;
    margin-left: 40px;
    transform: translateY(-50%);
    margin-top: 30px; }
    @media (max-width: 1199.98px) {
      footer .logo {
        position: static; } }

/*# sourceMappingURL=style.css.map */
